h1{
    font-size:3m;
    text-shadow: -3px -3px 3px gray;
}
p{
    color:gray;
    font-style: italic;
    padding:0px;
    margin-bottom: 0px;
}

.header{
    border-bottom: 1px solid gray;
    padding-bottom:0px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
 }